/*///////GENERAL//////////////*/

.main-container {
  width: 80%;
  margin: 4rem auto;
}

.spinner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  background-color: #d16666;
  margin-left: 130px;
  outline: none;
  width: 50%;
  height: 25px;
  border: none;
  border-radius: 300px;
  cursor: pointer;
  color: white;
  transition: all 0.2s;
  padding: 0;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #a04343;
}

/*///////GENERAL//////////////*/

/*///////POST//////////////*/

.post {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.post > div {
  width: 80%;
  margin: 1rem 0;
}

.post .title {
  margin-top: 6rem;
}

.title h1 {
  font-size: 1.3rem;
}

.post .back-section {
  margin: 0;
  position: absolute;
  top: 1%;
  left: 2%;
  width: 8rem;
}

.back-section button {
  margin: 0;
  width: 100%;
}

.image {
  width: 25%;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.content {
  background-color: #eceaea;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.post-author {
  margin-top: 0.5rem;
  font-weight: 500;
}

.post-author .name {
  font-weight: 400;
  cursor: pointer;
  color: #2f97c1;
  transition: color 0.2s;
}

.name:hover {
  color: #19728f;
}

/*///////POST//////////////*/

/*///////COMMENTS//////////////*/
.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin-top: 10rem;
  border-radius: 20px;
  padding: 2rem 0;
  position: relative;
}

.comments > div {
  width: 80%;
}

.comments-title {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-150%);
  color: white;
}

.comment {
  background-color: #eceaea;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.comment-author {
  font-weight: 700;
}

.add-comment {
  text-align: center;
  margin-top: 2rem;
  max-width: 10rem;
}

.add-comment button {
  margin: 0;
  width: 100%;
}

/*///////MODAL//////////////*/

.modal-content {
  border-radius: 30px !important;
}

.modal-body form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body form div {
  width: 100%;
  text-align: center;
}

#comment,
input {
  width: 100%;
  margin-top: 1rem;
  padding: 0.3rem;
  border: 1px solid lightgray;
  font-weight: 500;
  outline: none;
  transition: all 0.3s;
  color: grey;
}

#comment:focus,
input:focus {
  border-color: #2d3047;
}

#comment {
  height: 15rem;
  max-height: 15rem;
  min-height: 15rem;
}

.modal-body form .modal-footer {
  padding: 0 !important;
  width: 60%;
  margin-top: 2rem;
}
.modal-footer button {
  margin: 0;
  width: 100%;
}
/*///////MODAL//////////////*/

/*///////COMMENTS//////////////*/

@media (min-width: 40rem) {
  .post {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem;
    align-items: flex-start;
  }

  .post > div {
    width: 50%;
  }

  .post .title {
    width: 100%;
  }

  .post .image {
    width: 30%;
    max-width: 10rem;
  }

  .post .content {
    width: 60%;
    overflow: auto;
    margin-left: 2rem;
    max-height: 10rem;
  }

  .post .title {
    margin: 1rem 0 0 0;
  }
  .post .post-author {
    margin: 0;
  }

  .add-comment {
    width: 25%;
    max-width: 10rem;
  }
}
