<div *ngIf="post" class="back-section">
  <button class="back btn" routerLink=""><-- Main Page</button>
</div>
<div *ngIf="post" class="post">
  <div class="title">
    <h1>{{ post.title }}</h1>
  </div>
  <div class="image">
    <img
      alt="image"
      class="img"
      src="https://picsum.photos/id/{{ post.id }}/200/200"
    />
  </div>

  <div class="content">
    <p>{{ post.body }}</p>
  </div>
  <div class="post-author">
    <p>
      Author:<span class="name" routerLink="/{{ userId }}">
        {{ post.user.username }}</span
      >
    </p>
  </div>
</div>
<h2 *ngIf="post" class="comment-header">Comments</h2>
<div *ngIf="post" class="comments">
  <div *ngFor="let comment of post.comments" class="comment">
    <div class="comment-author">
      <p>{{ comment.name }}</p>
    </div>
    <div class="comment-content">
      <p>{{ comment.body }}</p>
    </div>
  </div>
  <div class="add-comment">
    <button (click)="open(content)" class="btn">Add Comment</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Comment</h4>
    <button
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
      class="close"
      type="button"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #modalForm="ngForm" (ngSubmit)="onAddComment(modalForm)">
      <div>
        <label for="name">Name</label>
        <input
          id="name"
          name="name"
          ngModel
          placeholder="Name"
          required
          type="text"
        />
      </div>
      <div>
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          ngModel
          placeholder="Email"
          required
          type="email"
        />
      </div>
      <div>
        <label for="comment">Text</label>
        <textarea
          id="comment"
          name="body"
          ngModel
          placeholder="Add Comment Here"
          required
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          (click)="modal.close('Save click')"
          [disabled]="!modalForm.valid"
          class="btn btn-outline-dark"
          type="submit"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>

<app-spinner *ngIf="!post" class="spinner"></app-spinner>
