.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 17rem;
  border-radius: 10px;
  border: 2px solid #f1dede;
  background-color: white;
  text-align: center;
}
.post {
  margin-bottom: 1rem;
}

.title {
  width: 80%;
  margin: 0.5rem auto;
}

.title h5 {
  font-size: 1rem;
}

.image {
  width: 80%;
  margin-bottom: 0.5rem;
  margin-top: auto;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.button {
  width: 80%;
  text-align: center;
  margin: 1rem 0;
}

.btn {
  background-color: #d16666;
  outline: none;
  border: none;
  border-radius: 300px;
  cursor: pointer;
  color: white;
  transition: all 0.2s;
  padding: 0.2rem;
  width: 80%;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #b53030;
}


